* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-col: #060e39;
    --bg-col-header: #0f2171;
    --col-header: #fff;
    --bg-col-divForm: #0f2171;
    --col-divForm: #fff;
    --bg-col-main: #264c9a;
    --col-main: blue;
}

body {
    background-color: var(--bg-col);
}


/* main container*/
.container {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100vw;
    height: 100vh;
}


/* header */
.header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    background-color: var(--bg-col-header);
    color: var(--col-header);
    font-size: 2rem;
}

/* sidebar*/
.divForm {
    height: 50%;
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 1;

    display: grid;
    grid-template-rows: 0.1fr 1fr;

    background-color: var(--bg-col-divForm);
    color: var(--col-divForm);
    border: 3px solid deeppink;
    font-size: 1.5rem;
}

.fieldset {

    display: grid;
    row-gap: 0.5rem;
    border: none;
    
}

.btnNewBook {
    height: 50px;
    width: 100px;
}

.divForm-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.divForm-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
}

.divForm-2-text {
    grid-column: 1 / 3;
}

.btnAdd {
    width: 100px;
    height: 50px;
}

/* main */
.main {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    background-color: var(--bg-col-main);
    color: var(--col-main);
}

.hidden {
    visibility: hidden;
}