* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-col: rgba(38, 76, 154, 0.3);
    --bg-col-header: rgba(38, 76, 154, 0.8);
    --bg-col-form: rgba(38, 76, 154, 0.8);
    --bg-col-main: rgba(38, 76, 154, 0.0);
    --bg-col-card: rgba(255, 255, 255, 0.9);
    --col-header: #fff;
    --col-form: #fff;
    --col-main: #264c9a;
    --col-card: #000;
    --col-link: #fff;
}

body {
    background-color: var(--bg-col);
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* main container*/
.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    

    width: 100vw;
    height: 100vh;
    padding: 1rem;
    
}

.background-img {
    width: 100%;
    height: 100%;
    position: absolute;

}


/* header-text and button */
.box-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: grid;
    row-gap: 1rem;

    background-color: var(--bg-col-header);
    color: var(--col-header);
    font-size: 2rem;
    padding: 1rem;
    
   
}

/* form */
.box-2 { 
    width: 350px;
    grid-row: 2 / 4;
    grid-column: 1 / 2;


    display: grid;
    grid-template-rows: 0.1fr 1fr; 
    /*border: 3px solid deeppink;*/
    font-size: 1.5rem;
    z-index: 2;
   
}

.form {
    background-color: var(--bg-col-form);
    color: var(--col-form);
    padding: 1rem;
}

.fieldset {
    display: grid;
    row-gap: 0.5rem;
    border: none;
}

.btnNewBook {
    height: 50px;
    width: 100px;
}

.divForm-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 0.5rem;

}

.divForm-2 {
    display: grid;
    grid-template-columns: 0.9fr 10fr;

    margin-top: 0.5rem;
}

.divForm-2-text {
    grid-column: 1 / 3;
}

.divForm-2 > label {
    align-self: center;    
}

.author,
.title,
.pages {
    font-size: 1.2rem;
    text-align: center;
}

.radio {
    width: 15px;
    align-self: center;
    justify-self: start;
}

.btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(219, 220, 222);
}

/* main content */
.box-3 {
    grid-row: 2 / 4;
    grid-column: 1 / 4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    column-gap: 2rem;
    row-gap: 2rem;

    background-color: var(--bg-col-main);
    color: var(--col-main);
    margin-top: 1rem;
}


.card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: center;

    width:400px;
    height: 300px;
    background-color: var(--bg-col-card);
    color: var(--col-card);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px;

    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
}

.card-author {
    grid-column: 1 / 3;
}

.card-title {
    grid-column: 1 / 3;
}

.card-pages {
    grid-column: 1 / 3;
}

.card-read {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-btnRead {
    width: 80px;
    justify-self: end;
    border-radius: 10px;
    font-weight: bold;
}

.card-btnRemove {
    grid-column: 1 / 3;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}

.card-btnRemove:hover {
    background-color: lightblue;
}

.img-reference {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding-bottom: 1rem;
   
    height: 100%;
    width: 40%;
    padding: 0.1rem;
}

.img-reference > a {
    text-decoration: none;
    align-self: center;
    color: black;
}