* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-col: rgba(38, 76, 154, 0.3);
    --bg-col-header: rgba(38, 76, 154, 0.8);
    --bg-col-form: rgba(38, 76, 154, 0.9);
    --bg-col-main: rgba(38, 76, 154, 0.0);
    --bg-col-card: rgba(255, 255, 255, 0.9);
    --bg-card-btn:rgba(38, 76, 154, 0.8);
    --col-header: #fff;
    --col-form: #fff;
    --col-main: #264c9a;
    --col-card: #000;
    --col-link: #fff;
    --col-card-btn: #fff;
}

body {
    background-color: var(--bg-col);
    background-image: url("./img/background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

/* main container*/
.container {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    width: 100vw;
    height: 100vh;
    padding: 1rem; 
}

.background-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* header-text and button */
.box-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;

    background-color: var(--bg-col-header);
    color: var(--col-header);
    font-size: 2rem;
    padding: 1rem;
}

.btnNewBook  {
    grid-row: 2 / 3;
}

.img-reference {
    grid-row: 2 / 3;
    font-size: 0.9rem;
    justify-self: end;
    align-self: end;
}

.img-reference > a {
    font-size: bold;
    color: #fff;
}

.img-reference > a:hover {
    color: red;
}

/* form */
.box-2 { 
    width: 350px;
    height: 320px;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    background-color: var(--bg-col-form);
    color: var(--col-form);
    font-size: 1.5rem;
    padding: 1rem;
    z-index: 2;
}

.form {
    display: grid;
    row-gap: 1rem;
}

.divForm-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 0.5rem;
}

.divForm-2 {
    display: grid;
    grid-template-columns: 0.9fr 10fr;

    margin-top: 0.5rem;
}

.divForm-2-text {
    grid-column: 1 / 3;
}

.divForm-2 > label {
    align-self: center;    
}

.author,
.title,
.pages {
    font-size: 1.2rem;
    text-align: center;
}

.radio {
    margin-top: 1px;
    height: 15px;
    width: 15px;
    align-self: center;
    justify-self: start;
}

.btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(219, 220, 222);
}

/* main content */
.box-3 {
    grid-row: 2 / 4;
    grid-column: 1 / 4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 2rem;
    row-gap: 2rem;

    background-color: var(--bg-col-main);
    color: var(--col-main);
    margin-top: 1rem;
}

.card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    width:400px;
    height: 300px;
    background-color: var(--bg-col-card);
    color: var(--col-card);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px;

    font-size: 1.2rem;
    font-weight: bold;
    word-break: break-word;
}

.card:hover {
    box-shadow: 5px 5px 10px #000;
}

.card-author {
    grid-column: 1 / 3;
}

.card-title {
    grid-column: 1 / 3;
}

.card-pages {
    grid-column: 1 / 3;
}

.card-read {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.card-read-txt {
    align-self: center;
}
.card-btnRead {
    align-self: center;
    height: 35px;
    width: 80px;
    justify-self: end;
    border-radius: 10px;
    font-weight: bold;
}

.card-btnRead:hover,
.card-btnRemove:hover {
    background-color: var(--bg-card-btn);
    color: var(--col-card-btn);
    border: none;
}

.card-btnRemove {
    grid-column: 1 / 3;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}